{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>
<!--details of ratnakowshikremalla-->
<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Ratna Kowshik Remalla</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Ratna kowshik Remalla. Currently Pursuing Bachelors in
                    Artifical Intelligence and Data Science.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:kowshik8501@gmail.com'><img
                        src="https://static.vecteezy.com/system/resources/previews/022/613/021/original/google-mail-gmail-icon-logo-symbol-free-png.png" height="40" width="40"></a> :
                kowshik8501@gmail.com<br><br>
                <a target="_blank" href='https://github.com/kowshik-8501'><img
                        src="https://tse1.mm.bing.net/th?id=OIP.rIONbwiwOm_V37ef5VAyDwHaFj&pid=Api&P=0&h=180" height="40" width="40"></a> :
                kowshik-8501<br><br>
                <a target="_blank" href='www.linkedin.com/in/ratnakowshikremalla'><img
                        src="https://tse3.mm.bing.net/th?id=OIP.VArJwZMxFN-qHnD8Xue-QAHaHa&pid=Api&P=0&h=180" height="40" width="40"></a> :
                RatnakowshikRemalla<br>
            </div>
        </div>
    </div>
<!--details of manohar-->
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Manohar C</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Manohar C. Currently Pursuing Bachelors in
                    Artifical Intelligence and Data Science.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:chakalim264@gmail.com'><img
                        src="https://static.vecteezy.com/system/resources/previews/022/613/021/original/google-mail-gmail-icon-logo-symbol-free-png.png" height="40" width="40"></a> :
                chakalim264@gmail.com<br><br>
                <a target="_blank" href='https://github.com/manohar23235'><img
                        src="https://tse1.mm.bing.net/th?id=OIP.rIONbwiwOm_V37ef5VAyDwHaFj&pid=Api&P=0&h=180" height="44" width="44"></a> :
                manohar23235<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/manoharc/'><img
                        src="https://tse3.mm.bing.net/th?id=OIP.VArJwZMxFN-qHnD8Xue-QAHaHa&pid=Api&P=0&h=180" height="40" width="40"></a> :
                manohar c<br>
            </div>
        </div>
    </div>
</div>
<!--details of pavani-->
<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Pavani Vankayalapati</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Pavani Vankayalapati. Currently Pursuing Bachelors in
                    Artifical Intelligence and Data Science.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:pavanivankayalapati800@gmail.com'><img
                        src="https://static.vecteezy.com/system/resources/previews/022/613/021/original/google-mail-gmail-icon-logo-symbol-free-png.png" height="40" width="40"></a> :
                        pavanivankayalapati800@gmail.com<br><br>
                        <a target="_blank" href='https://www.instagram.com/pavani_vankayalapati/'><img
                            src="http://www.pngmart.com/files/13/Instagram-Logo-PNG-Free-Download.png" height="44" width="44"></a> :
                            pavani_vankayalapati<br><br>        
                <a target="_blank" href='www.linkedin.com/in/pavanivankayalapati'><img
                        src="https://tse3.mm.bing.net/th?id=OIP.VArJwZMxFN-qHnD8Xue-QAHaHa&pid=Api&P=0&h=180" height="40" width="40"></a> :
                        Pavani Vankayalapati<br>
            </div>
        </div>
    </div>
<!--details of ranjitha-->

<div class="col">
    <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
        <center>
            <h3>Ranjith Kurupati</h3>
            <p class="lead" style="font-weight: 350;">Hi, I am Ranjitha Kurupati. Currently Pursuing Bachelors in
                Artifical Intelligence and Data Science.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                Interested in Blockchain and Flutter App Development.
            </p>
        </center>
        <div>
            <h5>Social Media Handles :</h5><br>
            <a target="_blank" href='mailto:kurupatiranjitha@gmail.com'><img
                    src="https://static.vecteezy.com/system/resources/previews/022/613/021/original/google-mail-gmail-icon-logo-symbol-free-png.png" height="40" width="40"></a> :
                    kurupatiranjitha@gmail.com<br><br>
                    <a target="_blank" href='https://www.instagram.com/ranji_chowdhuryyy_/'><img
                        src="http://www.pngmart.com/files/13/Instagram-Logo-PNG-Free-Download.png" height="44" width="44"></a> :
                        ranji_chowdhuryyy_<br><br>
            <a target="_blank" href='https://www.linkedin.com/in/ranjithakurupati/'><img
                    src="https://tse3.mm.bing.net/th?id=OIP.VArJwZMxFN-qHnD8Xue-QAHaHa&pid=Api&P=0&h=180" height="40" width="40"></a> :
                    ranjithakurupati<br>
        </div>
    </div>
</div>
</div>

    
{% endblock body %}